In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings


import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv("DATAFINALPROYECT.csv", skiprows=1)

In [3]:
data.columns

Index(['Gender', 'Age', 'Occupation', 'Interest', 'Purchase', 'Products',
       'Money spent', 'Fashion Segments', 'Customer decision: Price',
       'Customer decision: Style', 'Customer decision: Quality',
       'Customer decision: Brand', 'Customer decision: Comfort',
       'Customer decision: Sustainability',
       'Brand familiarity: Ausweichoption (negativ) oder Anzahl ausgewählter Optionen',
       'Brand familiarity: Zara', 'Brand familiarity: H&M',
       'Brand familiarity: Adidas', 'Brand familiarity: Patagonia',
       'Brand familiarity: Uniqlo', 'Brand familiarity: Weekday',
       'Brand familiarity: All of them', 'Interest.1', 'Industries',
       'Information', 'Price relevance', 'Price readiness',
       'Sustainable Option', 'Transparency',
       'Recycle : Ausweichoption (negativ) oder Anzahl ausgewählter Optionen',
       'Recycle : Recycling/upcycling of clothing',
       'Recycle : Purchasing second-hand/vintage clothing',
       'Recycle : Purchasing sustainable clothing', 'Recycle : None',
       'Sustainable brands: [01]', 'Preference', 'Budget', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48'],
      dtype='object')

In [4]:
data.columns = [col.lower().replace(' ', '_')  for col in data.columns]

In [5]:
data

,gender,age,occupation,interest,purchase,products,money_spent,fashion_segments,customer_decision:_price,customer_decision:_style,...,unnamed:_39,unnamed:_40,unnamed:_41,unnamed:_42,unnamed:_43,unnamed:_44,unnamed:_45,unnamed:_46,unnamed:_47,unnamed:_48
0,2,2.0,1.0,1.0,1.0,4.0,1.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,1.0,1.0,2.0,3.0,2.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,1.0,2.0,1.0,3.0,1.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1.0,1.0,1.0,2.0,4.0,1.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2.0,1.0,1.0,2.0,3.0,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,1,3.0,3.0,1.0,1.0,4.0,1.0,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,1,3.0,4.0,1.0,2.0,1.0,3.0,4.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2,1.0,1.0,1.0,2.0,4.0,1.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,2,2.0,1.0,1.0,1.0,3.0,1.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,1,2.0,1.0,1.0,2.0,3.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data = data.loc[:, ~data.columns.str.contains('^unnamed')]

In [7]:
## cambiar los nans de las variables

In [8]:
data['occupation'].astype(object).value_counts()

1.0    70
4.0    67
3.0    29
2.0    13
5.0     7
Name: occupation, dtype: int64

In [9]:
data.loc[pd.isna(data["occupation"]), "occupation"] = data['occupation'].astype(object).value_counts().iloc[0]

In [10]:
data['occupation'].isna() = data['occupation'].astype(object).value_counts().iloc[0]

SyntaxError: cannot assign to function call (2556486557.py, line 1)

In [ ]:
data['occupation'].astype(object).value_counts()

In [ ]:
data['interest'].astype(object).value_counts()

In [ ]:
data.isna().sum()

In [ ]:
data = data.drop(data.index[0])
data

In [ ]:
list(data.columns)

In [ ]:
data.shape

In [ ]:
list(data.columns)

In [ ]:
data = data.drop(data.index[0])

In [ ]:
data

In [ ]:
data.head()

In [ ]:
for columns in data.columns.tolist():        
    print(columns, len(data[columns].unique()))