# LAB 4.02

### 1. Import the necessary libraries if you are starting a new notebook.

In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### 2. Load the csv. Use the variable customer_df as customer_df = pd.read_csv().

In [12]:
customer_df = pd.read_csv('./files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
data.head(2)

,Unnamed: 0,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,0,IL,NaN,3712,XXXX,NaN,F,T2,NaN,NaN,479,635,3,2,307,318,349,378,12883,NaN,74,27,6,14,9702,L4E,31,4.0,7.741935
1,1,CA,NaN,5202,XXXX,NaN,M,S1,6.0,H,5468,5218,12,10,1088,1096,1026,1037,36175,NaN,32,12,6,13,9702,L2G,3,18.0,15.666667

### 3. What should we do with the customer_id column?

### 4. Load the continuous and discrete variables into numericals_df and categorical_df variables, for eg.: numerical_df = customer_df.select_dtypes() categorical_df = customer_df.select_dtypes()

In [13]:
numerical_df = customer_df.select_dtypes()
categorical_df = customer_df.select_dtypes()
numerical_df = customer_df.select_dtypes(np.number)
categorical_df = customer_df.select_dtypes(np.object)

ValueError: at least one of include or exclude must be nonempty

### 5. Plot every categorical variable. What can you see in the plots? Note that in the previous lab you used a bar plot to plot categorical data, with each unique category in the column on the x-axis and an appropriate measure on the y-axis. However, this time you will try a different plot. This time in each plot for the categorical variable you will have, each unique category in the column on the x-axis and the target(which is numerical) on the Y-axis

In [5]:
for col in categoricals.columns:
    sns.barplot(x = col, y = 'total_claim_amount', data = customer_df)
    plt.show()

NameError: name 'categoricals' is not defined

### 6. For the categorical data, check if there is any data cleaning that need to perform. Hint: You can use the function value_counts() on each of the categorical columns and check the representation of different categories in each column. Discuss if this information might in some way be used for data cleaning.

In [6]:
for col in categoricals.columns:
    print(categoricals[col].value_counts())

NameError: name 'categoricals' is not defined